@media only screen and (max-device-width:400px)
{
.new
{
    width: 75%;
    height: 52%;
}
.true
{
    
     width : 75%;
     height: 25%;
    
}
.caw,
.a
{
    width : 75%;
     height: 25%; 
}
.aa
{
    width : 75%;
     height: 25%;    
}
.aaa{
    width : 75%;
     height: 25%; 
}
.b
{
    width : 75%;
     height: 25%; 
}
.bb{
    width : 75%;
     height: 25%; 
}
}